@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #115E59;
    font-weight: 600;
    font-size: 18px;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: all 1s ease;
    
  }
}
div{
  transition: all 0.7s;
}

button{
  transition: all 0.6s;
}
.customer{
  cursor: pointer;
  transition: all 0.6s;

}
.burger{
  height: 20px;
  position: relative;
  width: 30px;
}
.burger-line{
  display: flex;
  width: 30px;
  height: 2px;
  background: #14B8A6;
  transition: all 0.3 ease;
}
.top-line{
  position: absolute;
  left: 0;
  top: 0;
}
.mid-line{
  position: absolute;
  left: 0;
  top: 50%;
  bottom: 0;

}
.bottom-line{
  position: absolute;
  left: 0;
  bottom: 0;
}
.burger.active > .top-line {
  transform: translateY(8px) rotate(45deg);
  transition: all 0.7 ease;
  background-color: #D70056;
}

.burger.active > .mid-line {
  opacity: 0;
  transition: all 0.7 ease;
  
}

.burger.active > .bottom-line {
  transform: translateY(-10px) rotate(-45deg);
  transition: all 0.7 ease;
  background-color: #D70056;
}
#menu{
  transition: all 1s ease;
}
.video{
  transition: all 2s ease;
}
.cart{
  transition: all 0.7s ease;
}
.motion-img{
  transition: all 1s ease;
}
